@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
  background: black;
}
h1 {
  text-align: center;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
.showContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 720px;
}
#card {
  margin-top: 85px;
  margin-right: 25px;
  margin-left: 25px;
}
#cardTitle {
  color: rgb(13, 247, 36);
}
.home {
  background: black;
  margin-top: 95px;
}
.homeText {
  font-family: 'Anton', sans-serif;
  margin-top: 45px;
  color: white;
  font-size: 85px;
}
.showContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#loginForm {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
#title {
  text-align: center;
  font-family: 'Mouse Memoirs', sans-serif;
  margin-top: 35px;
}
p {
  color: white;
  text-align: center;
  
}
#aboutUs {
  color: rgb(13, 247, 36);
  text-align: center; 
  font-size: 2em;
  letter-spacing: .3em;
  margin-top: 85px;
}
.Music {
  margin-top: 95px;
}
.shows {
  margin-top: 95px;
}
.gallery {
  margin-top: 95px;
}
#adminCrud {
  margin-top: 85px;
}
#green, td {
  color: rgb(13, 247, 36);
}
#adminButtons {
  background-color: #222529;
  color: white;
}
#adminButtons:hover {
  background-color: rgb(13, 247, 36);
  color: black;
}

/* ===================== LOGIN FORM ===================== */
.Auth-form-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
  margin-top: 10%;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(112, 112, 112);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(112, 112, 112);
}
/* ===================== ABOUT-GRID ===================== */

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "aboutBand aboutBand aboutBand aboutBand"
    "member1 member2 member3 member4";
    
}

.aboutBand { grid-area: aboutBand; }

.member1 {  
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr 0.2fr .8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "memberImg1 memberImg1 memberImg1"
    "member1Name member1Name member1Name"
    "member1About member1About member1About";
  grid-area: member1;
  box-shadow: rgb(13, 247, 36) 0px 54px 55px, rgb(13, 247, 36) 0px -12px 30px, rgb(13, 247, 36) 0px 4px 6px, rgb(13, 247, 36) 0px 12px 13px, rgb(13, 247, 36) 0px -3px 5px;
}

.memberImg1 { 
  grid-area: memberImg1;
}

.member1Name { 
  grid-area: member1Name; 
  color: rgb(13, 247, 36);
  font-size: 2em;
  letter-spacing: .3em;
  text-align: center;
  
}

.member1About { 
  grid-area: member1About;
}

.member2 {  
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr 0.2fr .8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "memberImg2 memberImg2 memberImg2"
    "member2Name member2Name member2Name"
    "member2About member2About member2About";
  grid-area: member2;
  box-shadow: rgb(13, 247, 36) 0px 54px 55px, rgb(13, 247, 36) 0px -12px 30px, rgb(13, 247, 36) 0px 4px 6px, rgb(13, 247, 36) 0px 12px 13px, rgb(13, 247, 36) 0px -3px 5px;
}

.memberImg2 { grid-area: memberImg2; }

.member2Name {
  grid-area: member2Name;
  color: rgb(13, 247, 36); 
  font-size: 2em;
  letter-spacing: .3em;
  text-align: center;
}

.member2About { grid-area: member2About; }

.member3 {  
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr 0.2fr .8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "memberImg3 memberImg3 memberImg3"
    "member3Name member3Name member3Name"
    "member3About member3About member3About";
  grid-area: member3;
  box-shadow: rgb(13, 247, 36) 0px 54px 55px, rgb(13, 247, 36) 0px -12px 30px, rgb(13, 247, 36) 0px 4px 6px, rgb(13, 247, 36) 0px 12px 13px, rgb(13, 247, 36) 0px -3px 5px;

}

.memberImg3 { grid-area: memberImg3; }

.member3Name { 
  grid-area: member3Name;
  color: rgb(13, 247, 36); 
  font-size: 2em;
  letter-spacing: .3em;
  text-align: center;
}

.member3About { grid-area: member3About; }

.member4 { 
  margin-bottom: 20px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .7fr 0.2fr .8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "memberImg4 memberImg4 memberImg4"
    "member4Name member4Name member4Name"
    "member4About member4About member4About";
  grid-area: member4;
  box-shadow: rgb(13, 247, 36) 0px 54px 55px, rgb(13, 247, 36) 0px -12px 30px, rgb(13, 247, 36) 0px 4px 6px, rgb(13, 247, 36) 0px 12px 13px, rgb(13, 247, 36) 0px -3px 5px;

}

.memberImg4 { grid-area: memberImg4; }

.member4Name { 
  grid-area: member4Name;
  color: rgb(13, 247, 36); 
  font-size: 2em;
  letter-spacing: .3em;
  text-align: center;
}

.member4About { 
  grid-area: member4About;
}

/* ============================= MEDIA SCREENS ============================= */

@media only screen and (min-device-width: 320px) and (max-device-width: 575px) {
  .container {  
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: column;
    grid-template-areas:
      "aboutBand"
      "member1"
      "member2" 
      "member3" 
      "member4"
  }
  .homeText {
    font-size: 45px;
  }
  .home {
    margin-top: 95px;
  }
}
@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr;
    gap: 5px 5px;
    grid-auto-flow: column;
    grid-template-areas:
      "aboutBand"
      "member1"
      "member2" 
      "member3" 
      "member4";
  }
  .homeText {
    font-size: 45px;
  }
  .home {
    margin-top: 95px;
  }
}
/* @media only screen and (min-device-width: 768px) and (max-device-width: 575px) {

} */