@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
  background: black;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home {
  background: black;
}
.homeText {
  font-family: 'Anton', sans-serif;
  margin-top: 45px;
  color: white;
  font-size: 85px;
  padding: 20px;
}