
* {
  background: black;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home {
  background: black;
  color: white;
  font-size: 55px;
  /* font-family: snes; */
}